<!DOCTYPE html>
<html xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout">

<head></head>

<body>
  <div th:fragment="resultadosProfesores()">
    <table id="tbBusqueda" class="table table-striped">
      <thead>
        <tr class="table-light">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nif</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="profesor, iStat : ${profesores}">
          <th scope="row" th:text="${iStat.count}"></th>
          <td th:text="${profesor.nombre}"></td>
          <td th:text="${profesor.nif}"></td>
          <td th:text="${profesor.correo}"></td>
          <td th:text="${profesor.telefono}"></td>
        </tr>
      </tbody>
    </table>
    <script>
      function setup() {
        noCanvas();
        $('#tbBusqueda').DataTable();
      }
    </script>
  </div>
</body>

</html>