<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="layout/adminBase::head('Clases')"></head>

<body>
  <header th:replace="layout/adminBase::header('Clases')"></header>
  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">Búsqueda de Clases</div>
          <div class="card-body" style="padding-bottom: 0">
            <form id="searchForm" class="form">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <i class="fas fa-chalkboard-teacher" style="margin-right: 10px;"></i>
                    <label for="profesorBusqueda">Profesor</label>
                    <select id="profesorBusqueda" class="custom-select sl-profesores"></select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <i class="fas fa-book-open" style="margin-right: 10px;"></i>
                    <label for="cursoBusqueda">Curso</label>
                    <select id="cursoBusqueda" class="custom-select"></select>
                  </div>
                </div>
              </div>

              <div class="form-group my-3">
                <button type="button" id="btnBuscar" class="btn btn-raised btn-success">Buscar</button>
                <button type="reset" class="btn btn-raised btn-primary mx-4">Limpiar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-12 my-4">
        <div class="card">
          <div class="card-header">Resultados de Búsqueda</div>
          <div class="card-body">
            <nav class="nav" style="margin-bottom: 20px;">
              <a id="aCrearClase" class="nav-link btn btn-raised btn-success" style="margin-right: 10px;" role="button"
                href="#" data-toggle="modal">Nueva Clase</a>
            </nav>
            <table id="tbBusqueda" class="table table-striped">
              <thead>
                <tr class="table-light">
                  <th scope="col">Id</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Asignatura</th>
                  <th scope="col">Profesor</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Form -->
  <div class="modal fade" id="mdCrearClase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="mdcrear-title" class="modal-title">Nueva Clase</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#" id="formClase" role="form" autocomplete="off" method="post">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <i class="fas fa-book-open" style="margin-right: 10px;"></i>
                  <label for="cursoCrear">Curso</label>
                  <select id="cursoCrear" class="custom-select"></select>
                  <input type="text" id="idCurso" hidden>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <i class="fas fa-book-open" style="margin-right: 10px;"></i>
                  <label for="asignaturaCrear">Asignatura</label>
                  <select id="asignaturaCrear" class="custom-select" disabled></select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <i class="fas fa-chalkboard-teacher" style="margin-right: 10px;"></i>
                  <label for="profesorCrear">Profesor</label>
                  <select id="profesorCrear" class="custom-select sl-profesores"></select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">Horario</div>
                  <div class="card-body">
                    <table id="tbHorario" class="table table-bordered table-hover text-center">
                      <thead>
                        <tr class="table-success">
                          <th scope="col">Hora</th>
                          <th scope="col">Lunes</th>
                          <th scope="col">Martes</th>
                          <th scope="col">Miercoles</th>
                          <th scope="col">Jueves</th>
                          <th scope="col">Viernes</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer my-2" style="padding-bottom: 0">
              <small>Las Horas en Rojo Ya Se Encuentran Ocupadas!</small>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button id="btnCrear" type="submit" class="btn btn-success" data-container="body" data-toggle="popover"
                data-placement="right" title="Error!" data-trigger="focus"
                data-content="Los Horarios no Pueden Quedar Vacíos!">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal success para clases -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert alert-success">
        <div class="modal-header">
          <h5 class="modal-title">Información<i class="fas fa-info-circle mx-3"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="padding-bottom: 0">
            La Clase se ha Registrado de Manera Exitosa!
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal para alumnos -->
  <div class="modal fade" id="modalAlumnos" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Alumnos<i class="fas fa-info-circle mx-3"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table id="tbAlumnos" class="table table-bordered table-hover text-center">
            <thead>
              <tr class="table-success">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="layout/adminBase::footer()"></footer>
  <link rel="stylesheet" href="css/clasesStyle.css">
  <script src="js/admin/clase.js"></script>
</body>

</html>