<!DOCTYPE html>

<head th:replace="layout/base::head('Home')"></head>

<body>

  <header th:replace="layout/base::header('Spring Academic')"></header>

  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Acciones Rápidas</div>
          <div class="card-body">
            <h5 class="card-title">Alumnos</h5>
            <a href="#" class="btn btn-success">Crear</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Acciones Rápidas</div>
          <div class="card-body">
            <h5 class="card-title">Profesores</h5>
            <a href="#" class="btn btn-success">Crear</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-6">
        <canvas id="chartCursos" width="400" height="230"></canvas>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Profesores</div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr class="table-success">
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Curso</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Miguel</td>
                  <td>Manjarres</td>
                  <td>Matematicas</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Miguel</td>
                  <td>Manjarres</td>
                  <td>Matematicas</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Miguel</td>
                  <td>Manjarres</td>
                  <td>Matematicas</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Miguel</td>
                  <td>Manjarres</td>
                  <td>Matematicas</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Alumnos</div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr class="table-primary">
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Correo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Miguel</td>
                  <td>Acebedo</td>
                  <td>acebedo25@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Miguel</td>
                  <td>Acebedo</td>
                  <td>acebedo25@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Miguel</td>
                  <td>Acebedo</td>
                  <td>acebedo25@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Miguel</td>
                  <td>Acebedo</td>
                  <td>acebedo25@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <canvas id="chartAlumnos" width="400" height="230"></canvas>
      </div>
    </div>
  </div>

  <footer th:replace="layout/base::footer()"></footer>
  <script src="js/adminHome.js"></script>
</body>

</html>