<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login SportsMeet</title>

	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet"
		href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
		integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
		integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/f03089975e.js"></script>

	<style type="text/css">
		body {
			background-size: cover !important;
			background-position: center !important;
		}

		.login-form {
			width: 385px;
			margin: 30px auto;
		}

		.login-form form {
			margin-bottom: 15px;
			background: #f7f7f7;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			padding: 30px;
		}
	</style>
</head>

<body style="background: url('images/classroom.jpg');">

	<div class="login-form" style="width: 500px;">

		<form th:action="@{/login}" method="post">
			<div th:if="${param.logout}" class="alert alert-warning" role="alert">
				Has Salido de tu Cuenta
			</div>
			<h1 class="text-center">Spring Academic</h1>
			<h2 class="text-center">Acceder</h2>
			<div th:if="${param.error}" class="alert alert-danger" role="alert">
				Revisa tus Credenciales!
			</div>
			<div class="form-group my-4">
				<div class="input-group">
					<i class="fa fa-user" style="margin-right: 20px; margin-top: 10px;"></i></span>
					<input type="text" id="username" class="form-control" name="username" placeholder="Nombre de Usuario"
						required>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<i class="fa fa-lock" style="margin-right: 20px; margin-top: 10px;"></i></span>
					<input type="password" id="password" class="form-control" name="password" placeholder="Contraseña" required>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-raised btn-primary login-btn btn-block">Entrar</button>
			</div>
			<div class="clearfix text-center">
				<a href="#" class="pull-right">¿Olvidaste la Contraseña?</a>
			</div>
		</form>
	</div>

	<footer>
		<!-- JQuery JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

		<!-- popper JS -->
		<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
			integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous">
		</script>

		<!-- bootstrap material design JS -->
		<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
			integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous">
		</script>
	</footer>
</body>

</html>