<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="layout/adminBase::head('Busqueda de Profesores')"></head>

<body>
  <header th:replace="layout/adminBase::header('Profesorado')"></header>
  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-6">
        <div class="card border-success">
          <div class="card-header">Búsqueda de Profesores</div>
          <div class="card-body" style="padding-bottom: 0">
            <form id="searchForm" class="form-inline">
              <i class="fas fa-user-edit" style="margin-right: 20px;"></i>
              <label for="searchName" style="margin-right: 20px;">Nombre</label>
              <input id="searchName" class="form-control form-control-sm mr-3 w-75" type="text"
                placeholder="Nombre del Profesor..." aria-label="Search" style="height: 40px;">

              <i class="far fa-id-card" style="margin-right: 20px;"></i>
              <label for="searchNif" style="margin-right: 60px;">Nif</label>
              <input id="searchNif" class="form-control form-control-sm mr-3 w-75 my-3" type="text"
                placeholder="Nif del Profesor..." aria-label="Search" style="height: 40px;">

              <div class="form-group">
                <button type="button" id="btnBuscar" class="btn btn-raised btn-success">Buscar</button>
                <button type="reset" class="btn btn-raised btn-primary mx-4">Limpiar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card border-success">
          <div class="card-header">Filtros</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <span>Por Asignatura</span>
                <select id="slAsignatura" class="custom-select"></select>
              </div>
              <div class="col-6">
                <span>Por Titulacion</span>
                <select id="slTitulaciones" class="custom-select"></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-12">
        <div class="card border-success">
          <div class="card-header">Resultados de Búsqueda</div>
          <div class="card-body">
            <nav class="nav" style="margin-bottom: 20px;">
              <a class="nav-link btn btn-raised btn-success" style="margin-right: 10px;" role="button" href="#"
                id="btnNuevoProfesor">Nuevo Profesor</a>
            </nav>
            <table id="tbBusqueda" class="table table-striped">
              <thead>
                <tr class="table-light">
                  <th scope="col">Nombre</th>
                  <th scope="col">Nif</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- modal success para profesor -->
  <div th:if="${param.success}" class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content  alert alert-success">
        <div class="modal-header">
          <h5 class="modal-title">Información<i class="fas fa-info-circle mx-3"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="padding-bottom: 0">
            El Profesor se ha Registrado de Manera Exitosa!
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal clases -->
  <div class="modal fade" id="modalClases" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalClasesabel">Clases</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="timetable"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="mdCrearProfesor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mdcrear-title">Nuevo Profesor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="formProfesor" action="#" th:action="@{/crearProfesor}" th:object="${profesor}" role="form"
            autocomplete="off" method="post">
            <div class="form-group">
              <label for="itNombre">Nombre*</label>
              <input type="text" id="itNombre" th:field="*{nombre}" class="form-control"
                placeholder="Nombre del Profesor" required>
              <input type="text" id="auxId" hidden>
            </div>
            <div class="form-group">
              <label for="itApellido">Apellido*</label>
              <input type="text" id="itApellido" th:field="*{apellido}" class="form-control"
                placeholder="Apellido del Profesor" required>
            </div>
            <div class="form-group">
              <label for="itNif">Nif*</label>
              <input type="text" id="itNif" th:field="*{nif}" class="form-control" placeholder="Cédula" required>
              <small class="form-text text-muted hidden" id="smNif">Ya Existe el Nif en la Base de Datos</small>
            </div>
            <div class="form-group">
              <label for="itTelefono">Telefono*</label>
              <input type="text" id="itTelefono" th:field="*{telefono}" class="form-control" placeholder="Telefono"
                required>
            </div>
            <div class="form-group">
              <label for="itCorreo">Correo*</label>
              <input type="text" id="itCorreo" th:field="*{correo}" class="form-control" placeholder="Correo" required>
              <small class="form-text text-muted hidden" id="smCorreo">El Correo Ya Se Encuentra Registrado</small>
            </div>
            <div class="form-group">
              <label for="itTitulacion">Titulacion</label>
              <input type="text" id="itTitulacion" th:field="*{titulacion}" class="form-control"
                placeholder="Titulacion">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button id="btnLimpiar" type="reset" class="btn btn-primary">Limpiar</button>
              <button id="btnCrear" type="submit" class="btn btn-success">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="layout/adminBase::footer()"></footer>
  <link rel="stylesheet" href="css/profesoradoStyle.css">
  <script src="js/admin/profesorado.js"></script>
</body>

</html>